#content, #board {
    width: 100%;
    height: 625px;
    background-color: #625a5a;
}

#board {
    background-color: #fff; 
    width: 62%;
    width: 800px;
    height: 480px;
    /*margin-left: 0.5%;*/
    margin: 0 auto 0 auto;
}

.row {
    background-color: #00f; 
    width: 100%;
    height: 3.57%;
}

.tclass {
    font-family: Yellowtail, cursive;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.box {
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    text-align: center;
    float: left;
}

.stdBG {
    background-color: #c7c7c7 /* Lt Grey */
}

.marvin {
    background-image: url(../IMAGES/marvin1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#mm {
    width: 100%;
    height: 100%;
    /*margin-top: 20%;*/
}

.martian {
    background-image: url(../IMAGES/martian1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.planet {
    background-image: url(../IMAGES/saturn1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}