.row {
    background-color: #fff; 
    width: 400px;
    height: 28px;
    margin: 0 auto 0 auto;
    float: left;
}
.box {
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    text-align: center;
    float: left;
}
.stdBG {
    background-color: #c7c7c7; 
}
.updated {
    background-color: #f00;
}